.titulo {
	margin-top: 30px;
	margin-bottom: 30px;	
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.sub-titulo {
	font-size: 1.0rem;
}

.btn-novo {
	font-size: 1.0rem;
}

.painel {
	margin-top: 4px;
	margin-bottom: 15px;;
}

.container {
    max-width: 480px;
}

