.titulo {
	margin-top: 30px;
	margin-bottom: 30px;	
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.sub-titulo {
	font-size: 1.0rem;
}

.btn-novo {
	font-size: 1.0rem;	
	padding-bottom: 4px;
	padding-right: 14px;	
}

.btn-apagar {
	color: red;	
	padding-bottom: 4px;
	padding-right: 10px;
}


.painel {
	margin-top: 0px;
	margin-bottom: 15px;;
}

.container {
    max-width: 480px;
}

