.titulo {
	margin-top: 30px;
	margin-bottom: 30px;	
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.sub-titulo {
	font-size: 1.0rem;
}

.btn-novo {
	padding-bottom: 4px;
	padding-right: 14px;
	font-size: 1.2rem;	
}

.btn-apagar {
	color: red;	
	padding-bottom: 4px;
	padding-right: 10px;
	font-size: 1.2rem;
}

.infos-refeicao {
	padding-top: 1px;
}

.painel {
	margin-top: 0px;
	margin-bottom: 15px;;
}

.painel-principal {
	margin-top: 10px;
	margin-bottom: 15px;;
}

.container {
    max-width: 480px;
}

.cabecalho-tabela {
	background-color: #f1f1f1;;
}

.slider-alimenta-manual::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04EEFD;
  cursor: pointer;
}


.slider-alimenta-manual {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-alimenta-manual:hover {
  opacity: 1;
}

.slider-alimenta-manual::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04EEFD;
  cursor: pointer;
}

.slider-alimenta-manual::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}


