.titulo {
	padding-top:10px;
}

.painel {
  padding-top: 10px;  
  padding-bottom: 5px;
  padding-left: 15px;  
}

.linha {
  text-align: center;  
}

.icone {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;  
  font-weight:bold;
}

.rotulo {
  padding-top: 10px;
  font-weight:lighter;
}

.botao {
	border-radius: 8px;
	width: 70px;
	width: 40px;
	height: 40px;
}

.nav-menor-padding {
	padding:.5rem 0.5rem
}


.botaoImagem {
	width: 40px;
	height: 40px;
	border-width: 0px;
	background-size: 40px;
	background-image: url(botaoDesligado.png);
}

.ledLigado {
	color: yellow;
}

.ledPiscando {
  animation-name: animacaoPiscaLed;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
}

.ledPiscandoBotao {
  animation-name: animacaoComImagem;
  animation-duration: 1.4s;
  animation-iteration-count: infinite; 
}

.imgPiscando {
  animation-name: animacaoImgPiscando;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
}

.bola {
	width: 40px;
	height: 40px;
	background-image: url(aqua-ball-green.jpg);
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: 23px 8px;
}

.bolaComum {
	width: 50px;
	height: 12px;
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: 38px 2px;
}

.bolaFundoVerde {
	background-image: url(aqua-ball-green.jpg);
}

.bolaFundoVermelha {
	background-image: url(aqua-ball-red.jpg);
}


/* Standard syntax */
@keyframes animacaoPiscaLed {
  0% {color:yellow;}   
  50% {color:white;}
  100% {color:yellow;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animacaoPiscaLed {
 0% {color:yellow;}   
  50% {color:white;}
  100% {color:yellow;}
}

/* Standard syntax */
@keyframes animacaoComImagem {
  0% { background-image: url(botaoLigado.png); }   
  50% { background-image: url(botaoDesligado.png);}
  100% { background-image: url(botaoLigado.png);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animacaoComImagem {
  0% { background-image: url(botaoLigado.png); }   
  50% { background-image: url(botaoDesligado.png);}
  100% { background-image: url(botaoLigado.png);}
}


/* Standard syntax */
@keyframes animacaoImgPiscando {
  0% { background-image: url(aqua-ball-green.jpg); }   
  50% { background-image: url(aqua-ball-red.jpg);}
  100% { background-image: url(aqua-ball-green.jpg);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animacaoImgPiscando {
  0% { background-image: url(aqua-ball-green.jpg); }   
  50% { background-image: url(aqua-ball-red.jpg);}
  100% { background-image: url(aqua-ball-green.jpg);}
}




